.upper-header {
  transform: translateY(-15px);
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: lighter;
}
.header {
  position: sticky;
  top: 13px;
  height: 60px;
  transform: translateY(-15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #232323;
  border-top: 1px solid #232323;
  padding-left: 22vw;
  padding-right: 22vw;
  margin-top: -10px;
}
.menu {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
}
a {
  color: #bfbfbf;
  text-decoration: none;
}
a:hover {
  color: #bfbfbf;
  text-decoration: underline;
}
.icons {
  display: flex;
  gap: 20px;
}
.logo-wrapper {
  display: flex;
  width: 90px;
}
.logo-header {
  background-color: black;
  width: 90px;
  height: 60px;
  transition: width 0.3s ease;
}
.logo-header.smaller {
  width: 75px;
  height: 45px;
}
